services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    environment:
      - DATABASE_URL=postgresql://postgres@host.docker.internal:5432/conference_2025?schema=public
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_TRUST_HOST=true
      - AUTH_URL=http://localhost:3002
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
